*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header-sec{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
    color: rgb(87, 87, 87);
    font-weight: bold;
}
p{
    color: grey;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 6%;
    margin-top: 100px;

}
.half-width-second{
    width: 50%;
}
.half-width-second img{
    width: 50%;
    padding-left: 200px;
}
.half-width img{
    width: 100%;
}
.link-button{
    height: 68px;
    width: 192px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 24px 32px;
    border-radius: 100px;
    text-decoration: none;
    color: white;
}
.flexible-container{

}
.bg-sec{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
}



